InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
  BlockEnd: No
  TypeNameLimit: 24

---
# Add ARM cross-compilation flags for files under "drivers/" (For 🚣 64bit)
If:
  PathMatch: "study/bsp_study/raspberry_pi/drivers/.*\\.(c|h)$"
CompileFlags:
  Add:
    - "--target=aarch64-linux-gnu"
    - "-I/usr/aarch64-linux-gnu/include"
    - "-L/usr/aarch64-linux-gnu/lib"
---
# Common settings for both C and C++ files
If:
  PathMatch: "study/c.*_study/.*\\.(c|cpp|h|hpp)$"
CompileFlags:
  Add:
    - -I/home/linuxbrew/.linuxbrew/opt/llvm/include
    - -I/home/linuxbrew/.linuxbrew/opt/llvm/include/c++/v1
    - -L/home/linuxbrew/.linuxbrew/opt/llvm/lib
    - -Wall
    - -Wextra
    - -pedantic
    # - -O2
    # - -lunwind


# Specific settings for C files
---
If:
  PathMatch: "study/c.*_study/.*\\.(c|h)$"
CompileFlags:
  Add:
    - -std=c23
    - -I/home/linuxbrew/.linuxbrew/opt/mariadb-connector-c/include
    - -L/home/linuxbrew/.linuxbrew/opt/mariadb-connector-c/lib


# Specific settings for C++ files
---
If:
  PathMatch: "study/c.*_study/.*\\.(cpp|hpp)$"
CompileFlags:
  Compiler: clang++
  Add:
    - -std=c++23
    - -stdlib=libc++
    # - -fms-extensions
    # treat all files as C++
    # - -xc++
Diagnostics:
  Suppress:
    - module_odr_violation_function
#     - undeclared_var_use
#    - use_of_empty_using_if_exists

### Common includes/libraries settings 📅 2025-01-30 14:56:36
---
If:
  PathExclude: "study/bsp_study/raspberry_pi/.*"
CompileFlags:
  Add:
    - -I/opt/protobuf-static/include
    - -I/opt/nanopb/include
    - -I/opt/boost/debug-static/include
