## 📅 Written at 2025-02-02 21:09:06
# Add ARM cross-compilation flags for files under "drivers/" (For 🚣 64bit)
If:
  PathMatch: "study/bsp_study/raspberry_pi/drivers/.*\\.(c|h)$"
CompileFlags:
  Add:
    - "--target=aarch64-linux-gnu"
    - "-I/usr/aarch64-linux-gnu/include"
    - "-L/usr/aarch64-linux-gnu/lib"
---
# Common settings for both C and C++ files
If:
  PathMatch: "study/c.*_study/.*\\.(c|cpp|h|hpp)$"
CompileFlags:
  Add:
    - -L/home/linuxbrew/.linuxbrew/opt/llvm/lib
    - -Wall
    - -Wextra
    - -pedantic
    # - -O2
    # - -lunwind

# Specific settings for C files
---
If:
  PathMatch: "study/c.*_study/.*\\.(c|h)$"
CompileFlags:
  Add:
    ## Output of `llvm-config --cflags`. Never manually add only "-I/home/linuxbrew/.linuxbrew/llvm/include" which causes error of intellisense.
    - -std=c23
    - -I/home/linuxbrew/.linuxbrew/llvm/include
    - -D_GNU_SOURCE
    - -D__STDC_CONSTANT_MACROS
    - -D__STDC_FORMAT_MACROS
    - -D__STDC_LIMIT_MACROS
    ##
    - -I/home/linuxbrew/.linuxbrew/opt/mariadb-connector-c/include
    - -L/home/linuxbrew/.linuxbrew/opt/mariadb-connector-c/lib

# Specific settings for C++ files
---
If:
  PathMatch: "study/c.*_study/.*\\.(cpp|hpp)$"
CompileFlags:
  Compiler: clang++
  Add:
    ## Output of `llvm-config --cxxflags`. Never manually add only "-I/home/linuxbrew/.linuxbrew/llvm/include" which causes error of intellisense.
    - -std=c++23
    - -I/home/linuxbrew/.linuxbrew/Cellar/llvm/19.1.7/include
    - -D_GNU_SOURCE
    - -D__STDC_CONSTANT_MACROS
    - -D__STDC_FORMAT_MACROS
    - -D__STDC_LIMIT_MACROS
    ##
    - -stdlib=libc++
    # treat all files as C++
    # - -xc++

### Common includes/libraries settings 📅 2025-01-30 14:56:36
---
If:
  PathExclude: "study/bsp_study/raspberry_pi/.*"
CompileFlags:
  Add:
    - -I/opt/protobuf-static/include
    - -I/opt/nanopb/include
    - -I/opt/boost/debug-static/include

