###### In Client Computer

# from tailscale
Host tailscale-machine
  HostName 100.127.117.68
  User dst01
  ForwardX11Trusted yes
  ForwardX11 yes
  # start comamnd with %shell> code ~/repos/synergy-hub/.vscode/synergy-hub.code-workspace

# from tailscale to Jetson Nano
Host tailscale-machine-to-jetson-nano
  HostName 10.10.14.90
  User jsnano
  ProxyJump tailscale-machine
  ForwardX11 yes
  ForwardX11Trusted yes

# from tailscale to Jetson Nano
Host tailscale-machine-to-intel-server
  HostName 61.108.166.16
  User team002
  ProxyJump tailscale-machine
  ForwardX11 yes
  ForwardX11Trusted yes


# refer to 🔗 ✅ (how-to); set forward graphic to Windows

###### In Remote Computer
# Host jetson-nano
#   HostName 10.10.14.90
#   User jsnano
#   ForwardX11 yes
#   ForwardX11Trusted yes
# 
# 
# # %shell> ssh pi19@pi.local
# Host r-pi.local
#   HostName pi.local
#   User pi19
#   ForwardX11 yes
#   ForwardX11Trusted yes
#   IdentityFile ~/.ssh/id_ed25519-raspberry_pi_1
#### ✅ (how-to); Add SSH key ❗ without Passphrase 📅 2025-01-20 20:16:50
# Note that RSA is excessive. It significantly slows down the connection.
ssh-keygen -t ed25519 -C "wbfw109v2@gmail.com" -f ~/.ssh/id_ed25519-raspberry_pi_1
ssh-copy-id -f -i ~/.ssh/id_ed25519-raspberry_pi_1.pub pi19@pi.local
#  %shell> ssh -i ~/.ssh/id_ed25519-raspberry_pi_1 pi19@pi.local
## Register to ssh-agent (if with Passphrase)
# eval (ssh-agent -c)
# ssh-add ~/.ssh/id_ed25519-raspberry_pi_1
## >> Enter passphrase for ~/.ssh/id_ed25519-raspberry_pi_1: 
## >> Please enter a passphrase to protect the received secret key .... within gpg-agent's key storage


# # %shell> ssh jetson@nano19.local
# Host nano19.local
#   HostName nano19.local
#   User jetson
#   ForwardX11 yes
#   ForwardX11Trusted yes


